fastapi
uvicorn
SQLAlchemy
psycopg2-binary
alembic
pydantic
pydantic[email]
pytest
httpx
python-jose[cryptography]
bcrypt==4.3.0 # Especifica versão para evitar problemas de compatibilidade.
passlib[bcrypt]
python-multipart
pydantic-settings
python-dotenv
pytest-asyncio
